<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
  </head>
  
     <style>

     
     .content {
        max-width:500px;
        margin:auto;
     }
    </style>
    <div class="container">
        
     <form  action="mempick" method="POST">
        <label>Member    </label>
        {{form.memberid()}}

         <input type="submit" value="Submit">
     </form>


	
</div>
	
